*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(182, 213, 255, 0.4)), url(/assets/images/banner.png) center/cover no-repeat;
    height: 371px;
}

header h2 {
    display: flex;
    font-size: 128px;
    font-weight: 700;
    text-align: center;
}

input[type= "search"] {
    width: 688px;
    height: 50px;
    padding: 14px;
    border-radius: 8px;
    border: solid 1px rgba(206, 206, 206, 1);
    color: rgba(206, 206, 206, 1);
    font-size: 16px;
    margin: 17px 20px;
    background: url(/assets/images/lupa.svg) no-repeat;
    background-position: right 14px center;
}


.card-container {
    display: flex;
    padding: 20px 0 170px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.card {
    border: 1px solid rgba(206, 206, 206, 1);
    border-radius: 8px;
    max-width: 332px;
    overflow: hidden;
}


.card-banner img {
    width: 166px;
    height: 116px;
}

.card-banner-1 {
    display: flex;
    background-color: rgba(182, 213, 255, 1);
    align-items: center;
    justify-content: center;
    width: 332px;
    height: 185px;
}

.card-banner-2 {
    display: flex;
    background-color: rgba(197, 243, 255, 1);
    align-items: center;
    justify-content: center;
    width: 332px;
    height: 185px;
}

.card-banner-3 {
    display: flex;
    background-color: rgba(246, 194, 157, 1);
    align-items: center;
    justify-content: center;
    width: 332px;
    height: 185px;
}

.card-banner-4 {
    display: flex;
    background-color: rgba(247, 183, 173, 1);
    align-items: center;
    justify-content: center;
    width: 332px;
    height: 185px;
}

.card-banner-5 {
    display: flex;
    background-color: rgba(182, 245, 213, 1);
    align-items: center;
    justify-content: center;
    width: 332px;
    height: 185px;
}

.card-banner-6 {
    display: flex;
    background-color: rgba(185, 219, 253, 1);
    align-items: center;
    justify-content: center;
    width: 332px;
    height: 185px;
}

.card-banner-7 {
    display: flex;
    background-color: rgba(250, 229, 177, 1);
    align-items: center;
    justify-content: center;
    width: 332px;
    height: 185px;
}

.card-banner-8 {
    display: flex;
    background-color: rgba(246, 194, 157, 1);
    align-items: center;
    justify-content: center;
    width: 332px;
    height: 185px;
}

.card-titulo h2 {
    font-size: 24px;
    font-weight: 400;
    padding: 16px 0 0 16px;
}

.card-texto {
    display: flex;
    font-size: 16px;
    padding: 8px 9px 78px 16px;
    width: 307px;
    height: 72px;
}

.card-tags {
    display: flex;
    padding: 75px 0 23px 16px;
    gap: 8px;
}

.tag{
    display: flex;
    border: solid 1px rgba(95, 99, 105, 1);
    border-radius: 4px;
    color: rgba(95, 99, 105, 1);
    justify-content: center;
    align-items: center;
    padding: 7px;
}

.card-link {
    display: flex;
    padding: 0 178px 24px 16px;
}

.card-link a{
    display: flex;
    border: solid 1px rgba(206, 206, 206, 1);
    border-radius: 4px;
    color: rgba(28, 115, 232, 1);
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 30px;
    text-decoration: none;
}

.card-link a:hover{
    background-color: rgba(28, 115, 232, 1);
    color: white;
}


.footer-conteudo {
    display: flex;
    background-color: rgba(32, 33, 36, 1);
    color: rgba(241, 241, 241, 1);
    height: 493px;
    display: flex;
    padding: 29px 20px 220px;
    flex-direction: column;
}

footer .p1 {
    padding: 29px 20px;
}

footer .p2 {
    padding:  8px 20px;
}

footer .p3 {
    padding: 36px 20px;
}

footer .p4 {
    padding: 8px 20px;
}

footer a {
    text-decoration:underline;
    color: rgba(241, 241, 241, 1);
}

.text-link-footer:hover {
    background-color: rgba(234, 221, 103, 1);
    color: rgba(32, 33, 36, 1);
    padding: 0 6px;
    border-radius: 4px;
}

.footer-img {
    display: flex;
    background-color: rgba(56, 57, 63, 1);
    height: 94px;
    padding: 20px 21px;
    gap: 24px;
}